<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="16px">
    <div class="component-header" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="component-title" fxLayoutGap="10px">
            <span class="label-icon disable-select">
                <mat-icon color="primary">assignment_turned_in</mat-icon>
                <span>View To-Do</span>
            </span>
            <button class="action" mat-button color="accent">
                <mat-icon>add_box</mat-icon>
                <span>Back</span>
            </button>
        </span>
    </div>
    <div class="main-form" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="32px" fxFlex="60">
        <!-- form inputs -->
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px" [formGroup]="reactiveMainForm">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
                <mat-error> This field is invalid </mat-error>
            </mat-form-field>

            <div fxLayout="row" fxLayoutGap="16px">
                <mat-form-field appearance="fill">
                    <mat-label>Target Date</mat-label>
                    <input matInput [matDatepicker]="picker"  formControlName="targetDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16px">
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="16px">
            <button fxflex="" mat-flat-button color="primary" (click)="goBack()">BACK</button>
        </div>
    </div>
</div>