<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="16px">
    <div class="component-header" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="component-title" fxLayoutGap="10px">
            <span class="label-icon disable-select">
                <mat-icon color="primary">assignment_turned_in</mat-icon>
                <span>To Do List</span>
            </span>
            <button class="action" mat-button color="accent" (click)="goAddToDo()">
                <mat-icon>add_box</mat-icon>
                <span>Add Todo Item</span>
            </button>
        </span>
        <span fxLayoutAlign="center center">
            <span class="filter" fxLayoutGap="16px">
                <span>Show:</span>
                <span>
                    <mat-button-toggle-group value='{{todoStatus[0] | statusValue}}' #group="matButtonToggleGroup">
                        <mat-button-toggle *ngFor="let item of todoStatus" value='{{item | statusValue}}' (change)="toggleFilter($event.value)">
                            {{item}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </span>
            </span>
        </span>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <mat-table #table [dataSource]="todoList$">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let todo"> {{todo.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let todo"> {{todo.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let todo" class="action-buttons">
                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                    <button color="link" mat-icon-button (click)=goViewToDo(todo.id)>
                        <mat-icon color="link">info</mat-icon>
                    </button>
                    <button color="link" mat-icon-button (click)="goEditToDo(todo.id)">
                        <mat-icon color="link">update</mat-icon>
                    </button>
                    <button color="primary" mat-icon-button (click)="toggleDone(todo.id)" *ngIf="todo.status == 'status_active'">
                        <mat-icon color="primary">check</mat-icon>
                    </button>
                    <button color="warn" mat-icon-button (click)="toggleActive(todo.id)" *ngIf="todo.status == 'status_done'">
                        <mat-icon color="warn">clear</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteToDo(todo.id)">
                        <mat-icon color="warn">delete_forever</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>