/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$webkit-baseline-middle: -webkit-baseline-middle -moz-middle-with-baseline;

@mixin size-icon-span($text-size: 24px, $align: middle) {
    $icon-size: $text-size * 1.5;
    vertical-align: middle;
    font-size: $icon-size;
    height: $icon-size;
    width: $icon-size;
    + span {
        font-size: $text-size;
        @each $item in $align {
            vertical-align: $item;
        }
    }
}

.label-icon > .mat-icon {
    @include size-icon-span(24px); //, $webkit-baseline-middle);
}
.action .mat-icon {
    @include size-icon-span(18px); //, $webkit-baseline-middle);
}

.disable-select {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.horizontal-spacer {
    flex: 0 1 auto;
    flex-grow: 1;
}

th.mat-header-cell,
td.mat-cell {
    border-bottom-color: transparent;
}

body {
    margin: unset;
}

.component-header {
    margin: 16px 12px 0;
    
    .mat-button-toggle-group span {
        line-height: 18px;
    }
}
